# Python virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo

# Output reports & zips
*.zip
*.log
